* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

html {
  font-family: "Neue Regrade", sans-serif;
}

.auth {
  display: flex;
  gap: 16px;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: flex-start;
}

.bg-primary {
  background-color: rgb(64, 70, 148) !important;
}

.bg-tertiary {
  background-color: rgb(236, 237, 244);
}

.bb {
  border-bottom: 1px solid rgb(58, 64, 135);
}

.btn {
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  text-align: center;
  padding: 10px 16px;
  border-radius: 4px;
}

.btn-primary {
  background-color: rgb(64, 70, 148) !important;
  border: 1px solid rgb(64, 70, 148) !important;
  color: rgb(255, 255, 255) !important;
  cursor: pointer;
}
.btn-primary:hover {
  background-color: rgb(45, 50, 105) !important;
}

.btn-secondary {
  background-color: rgb(236, 237, 244) !important;
  border: 1px solid rgb(236, 237, 244) !important;
  color: rgb(35, 39, 81) !important;
  cursor: pointer;
}
.btn-secondary:hover {
  background-color: rgb(196, 198, 222) !important;
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.d-none {
  display: none;
}

.login {
  border: none;
  color: rgb(35, 39, 81);
}
.login:hover {
  background-color: rgb(236, 237, 244);
}

.ml-1 {
  margin-left: 4px;
}

.ml-2 {
  margin-left: 8px;
}

.ml-3 {
  margin-left: 12px;
}

.ml-4 {
  margin-left: 16px;
}

.ml-5 {
  margin-left: 20px;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-1 {
  margin-top: 4px;
}

.mt-2 {
  margin-top: 8px;
}

.mt-3 {
  margin-top: 12px;
}

.mt-4 {
  margin-top: 16px;
}

.mt-5 {
  margin-top: 20px;
}

.mb-1 {
  margin-bottom: 4px;
}

.mb-2 {
  margin-bottom: 8px;
}

.pt-1 {
  padding-top: 4px;
}

.pt-2 {
  padding-top: 8px;
}

.pt-3 {
  padding-top: 12px;
}

.pt-4 {
  padding-top: 16px;
}

.pt-5 {
  padding-top: 20px;
}

.text-primary {
  color: rgb(64, 70, 148);
}

@font-face {
  font-family: "Neue Regrade";
  src: url("../fonts-style/fonts/neue_regrade/Neue Regrade Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Neue Regrade";
  src: url("../fonts-style/fonts/neue_regrade/Neue Regrade semibold.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Neue Regrade";
  src: url("../fonts-style/fonts/neue_regrade/Neue-Regrade-Bold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Neue Regrade";
  src: url("../fonts-style/fonts/neue_regrade/Neue Regrade Extrabold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
html {
  height: auto !important;
  min-height: 100% !important;
}

body {
  font-family: "Neue Regrade", sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 100% !important;
  overflow-x: hidden !important;
  min-height: 100vh !important;
  height: auto !important;
}

h1,
h2,
h3 {
  font-weight: 600;
}

.hero-section {
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

header.header {
  display: block !important;
  height: auto !important;
}
@media only screen and (min-width: 320px) {
  header.header {
    padding: 0 !important;
  }
}
header.header .headers {
  width: 100% !important;
}
header.header .headers .nav-bar {
  width: 100%;
  max-width: 1150px;
  margin: 0px auto;
  position: fixed !important;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px 16px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.05);
  background-color: rgb(255, 255, 255);
  z-index: 10;
}
@media only screen and (min-width: 320px) {
  header.header .headers .nav-bar {
    border-radius: 0;
    top: 0;
  }
}
@media only screen and (min-width: 900px) {
  header.header .headers .nav-bar {
    border-radius: 12px;
    top: 20px;
    max-width: 850px;
  }
}
@media only screen and (min-width: 1024px) {
  header.header .headers .nav-bar {
    max-width: 970px;
  }
}
@media only screen and (min-width: 1200px) {
  header.header .headers .nav-bar {
    max-width: 1150px;
  }
}
@media only screen and (min-width: 1440px) {
  header.header .headers .nav-bar {
    max-width: 1350px;
  }
}
header.header .headers .nav-bar .nav-bar-logo {
  width: 100%;
  max-width: 100px;
}
header.header .headers .nav-bar .nav-bar-ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0;
}
@media only screen and (min-width: 320px) {
  header.header .headers .nav-bar .nav-bar-ul {
    display: none;
  }
}
@media only screen and (min-width: 900px) {
  header.header .headers .nav-bar .nav-bar-ul {
    display: flex;
  }
}
header.header .headers .nav-bar .nav-bar-ul ul {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  gap: 20px;
}
@media only screen and (min-width: 320px) {
  header.header .headers .nav-bar .nav-bar-ul ul {
    flex-direction: column;
  }
}
@media only screen and (min-width: 900px) {
  header.header .headers .nav-bar .nav-bar-ul ul {
    flex-direction: row;
  }
}
header.header .headers .nav-bar .nav-bar-ul li {
  padding: 8px;
  border-radius: 4px;
  color: rgb(87, 90, 102);
  text-align: center;
  cursor: pointer;
}
header.header .headers .nav-bar .nav-bar-ul li:hover {
  background-color: rgb(238, 239, 240);
}
header.header .headers .nav-bar .menu {
  position: relative;
}
@media only screen and (min-width: 320px) {
  header.header .headers .nav-bar .menu.active {
    position: absolute;
    top: 75px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    width: 80%;
    border-radius: 6px;
    text-align: center;
    padding: 24px 0px;
    margin: 0 auto;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 14px;
    z-index: 100;
  }
}
header.header .headers .nav-bar .hamburger {
  border: 0;
  background-color: white;
}
@media only screen and (min-width: 320px) {
  header.header .headers .nav-bar .hamburger {
    display: block !important;
    cursor: pointer;
  }
}
@media only screen and (min-width: 900px) {
  header.header .headers .nav-bar .hamburger {
    display: none !important;
  }
}
header.header .headers .nav-bar .hamburger .img-hamburger {
  width: 30px;
  display: block !important;
}
header.header .headers .nav-bar .hamburger .x-icon {
  padding-bottom: 4px;
  display: none !important;
}
header.header .headers .nav-bar .hamburger.active .img-hamburger {
  display: none !important;
}
header.header .headers .nav-bar .hamburger.active .x-icon {
  display: block !important;
}

main {
  display: flex;
  background-color: rgb(233, 235, 248);
}
main.mt-5 {
  margin-top: 0 !important;
}
main .first-section .hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 700px !important;
  padding: 0px 0 100px;
  max-height: none !important;
  background: url("../images/hero-section.png") !important;
  background-size: cover !important;
  background-position: center !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
@media only screen and (min-width: 320px) {
  main .first-section .hero-section {
    height: 500px !important;
    padding: 50px 0 0;
  }
}
@media only screen and (min-width: 540px) {
  main .first-section .hero-section {
    height: 500px !important;
    padding: 60px 0 40px;
  }
}
@media only screen and (min-width: 768px) {
  main .first-section .hero-section {
    height: 650px !important;
    padding: 0px 0 0px;
  }
}
@media only screen and (min-width: 867px) {
  main .first-section .hero-section {
    height: 600px !important;
  }
}
@media only screen and (min-width: 1024px) {
  main .first-section .hero-section {
    height: 650px !important;
  }
}
@media only screen and (min-width: 1200px) {
  main .first-section .hero-section {
    height: 600px !important;
    padding: 0 0 30px;
  }
}
@media only screen and (min-width: 1440px) {
  main .first-section .hero-section {
    height: 750px !important;
    padding: 0 0 50px;
  }
}
main .first-section .hero-section .hero-section-text .hero-title h1 {
  width: 60%;
  margin: 0 auto;
  font-size: 45px;
  text-align: center;
  font-weight: 700;
  color: rgb(255, 255, 255);
}
@media only screen and (min-width: 320px) {
  main .first-section .hero-section .hero-section-text .hero-title h1 {
    font-size: 25px;
    width: 90%;
  }
}
@media only screen and (min-width: 768px) {
  main .first-section .hero-section .hero-section-text .hero-title h1 {
    font-size: 50px;
  }
}
@media only screen and (min-width: 1024px) {
  main .first-section .hero-section .hero-section-text .hero-title h1 {
    font-size: 45px;
    line-height: 60px;
    width: 60%;
  }
}
@media only screen and (min-width: 1440px) {
  main .first-section .hero-section .hero-section-text .hero-title h1 {
    font-size: 62px;
    width: 70%;
    line-height: 70.4px;
  }
}
main .first-section .hero-section .hero-section-text .hero-subtitle p {
  font-size: 22px;
  padding-top: 10px;
  color: rgb(255, 255, 255);
}
@media only screen and (min-width: 320px) {
  main .first-section .hero-section .hero-section-text .hero-subtitle p {
    width: 80%;
    font-size: 16px;
    margin: 0 auto;
    text-align: center;
  }
}
@media only screen and (min-width: 540px) {
  main .first-section .hero-section .hero-section-text .hero-subtitle p {
    width: 60%;
  }
}
@media only screen and (min-width: 768px) {
  main .first-section .hero-section .hero-section-text .hero-subtitle p {
    width: 80%;
    font-size: 22px;
    line-height: 27px;
  }
}
@media only screen and (min-width: 1440px) {
  main .first-section .hero-section .hero-section-text .hero-subtitle p {
    font-size: 30px;
    line-height: 33.6px;
  }
}
main .first-section .hero-section .feature-highlight {
  display: flex;
  gap: 32px;
  padding-top: 20px;
  line-height: 27px;
}
@media only screen and (min-width: 320px) {
  main .first-section .hero-section .feature-highlight {
    flex-direction: column;
    gap: 10px;
  }
}
@media only screen and (min-width: 768px) {
  main .first-section .hero-section .feature-highlight {
    flex-direction: row;
    gap: 32px;
  }
}
main .first-section .hero-section .feature-highlight .paid-event {
  margin-right: 30px;
}
main .first-section .hero-section .feature-highlight img {
  margin: 0 5px;
  vertical-align: baseline !important;
}
main .first-section .hero-section .feature-highlight span {
  position: relative;
  bottom: 6px;
  font-size: 18px;
  color: rgb(255, 255, 255);
}
@media only screen and (min-width: 320px) {
  main .first-section .hero-section .feature-highlight span {
    font-size: 16px;
  }
}
@media only screen and (min-width: 768px) {
  main .first-section .hero-section .feature-highlight span {
    font-size: 18px;
  }
}
main .first-section .hero-section .hero-action {
  padding-top: 20px;
  display: flex;
  padding-bottom: 50px;
}
@media only screen and (min-width: 320px) {
  main .first-section .hero-section .hero-action {
    gap: 12px;
    padding-bottom: 50px;
  }
}
@media only screen and (min-width: 425px) {
  main .first-section .hero-section .hero-action {
    padding-bottom: 30px;
  }
}
@media only screen and (min-width: 768px) {
  main .first-section .hero-section .hero-action {
    gap: 32px;
  }
}
main .first-section .hero-section .hero-action button {
  padding: 16px 28px;
  font-size: 17px;
  font-weight: 600;
  border-radius: 4px;
}
@media only screen and (min-width: 320px) {
  main .first-section .hero-section .hero-action button {
    padding: 10px 16px;
    font-size: 11px;
  }
}
@media only screen and (min-width: 768px) {
  main .first-section .hero-section .hero-action button {
    padding: 16px 28px;
    font-size: 17px;
    line-height: 27px;
  }
}
main .first-section .device {
  position: relative !important;
  bottom: 250px;
}
@media only screen and (min-width: 320px) {
  main .first-section .device {
    bottom: 80px;
  }
}
@media only screen and (min-width: 540px) {
  main .first-section .device {
    bottom: 105px;
  }
}
@media only screen and (min-width: 768px) {
  main .first-section .device {
    bottom: 130px;
  }
}
@media only screen and (min-width: 867px) {
  main .first-section .device {
    bottom: 150px;
  }
}
@media only screen and (min-width: 1200px) {
  main .first-section .device {
    bottom: 180px;
  }
}
@media only screen and (min-width: 1440px) {
  main .first-section .device {
    bottom: 230px;
  }
}
main .first-section .device img {
  position: absolute !important;
  top: 0 !important;
  left: 50% !important;
  transform: translate(-52.5%, 0) !important;
}
@media only screen and (min-width: 320px) {
  main .first-section .device img {
    width: 300px;
  }
}
@media only screen and (min-width: 425px) {
  main .first-section .device img {
    bottom: 0;
  }
}
@media only screen and (min-width: 540px) {
  main .first-section .device img {
    width: 450px;
  }
}
@media only screen and (min-width: 768px) {
  main .first-section .device img {
    width: 600px;
  }
}
@media only screen and (min-width: 900px) {
  main .first-section .device img {
    width: 700px;
  }
}
@media only screen and (min-width: 1200px) {
  main .first-section .device img {
    width: 850px;
  }
}
@media only screen and (min-width: 1440px) {
  main .first-section .device img {
    width: 1000px;
  }
}
@media only screen and (min-width: 320px) {
  main .second-section .second-section-div {
    margin: 140px 0 0 !important;
  }
}
@media only screen and (min-width: 540px) {
  main .second-section .second-section-div {
    margin: 200px 0 0 !important;
  }
}
@media only screen and (min-width: 768px) {
  main .second-section .second-section-div {
    margin: 290px 0 0 !important;
  }
}
@media only screen and (min-width: 900px) {
  main .second-section .second-section-div {
    margin: 330px 0 0 !important;
  }
}
@media only screen and (min-width: 1200px) {
  main .second-section .second-section-div {
    margin: 400px 0 0 !important;
  }
}
@media only screen and (min-width: 1440px) {
  main .second-section .second-section-div {
    margin: 450px 0 0 !important;
  }
}
main .second-section .second-section-div .second-section-title {
  text-align: center;
}
main .second-section .second-section-div .second-section-title h2 {
  font-size: 40px !important;
  width: 400px;
  margin: 0px auto 40px;
  color: rgb(27, 29, 62);
  margin-top: 0 !important;
}
@media only screen and (min-width: 320px) {
  main .second-section .second-section-div .second-section-title h2 {
    font-size: 20px !important;
    width: 200px;
    margin: 0px auto 30px;
  }
}
@media only screen and (min-width: 540px) {
  main .second-section .second-section-div .second-section-title h2 {
    margin: 80px auto 40px;
  }
}
@media only screen and (min-width: 768px) {
  main .second-section .second-section-div .second-section-title h2 {
    font-size: 40px !important;
    width: 400px;
    margin: 0px auto 40px;
  }
}
main .second-section .second-section-div .second-section-cards {
  margin-bottom: 100px;
}
@media only screen and (min-width: 320px) {
  main .second-section .second-section-div .second-section-cards img {
    width: 300px;
  }
}
@media only screen and (min-width: 540px) {
  main .second-section .second-section-div .second-section-cards img {
    width: 500px;
  }
}
@media only screen and (min-width: 768px) {
  main .second-section .second-section-div .second-section-cards img {
    width: 600px;
  }
}
@media only screen and (min-width: 1024px) {
  main .second-section .second-section-div .second-section-cards img {
    width: 453px;
  }
}
@media only screen and (min-width: 1200px) {
  main .second-section .second-section-div .second-section-cards img {
    width: 543px;
  }
}
@media only screen and (min-width: 1440px) {
  main .second-section .second-section-div .second-section-cards img {
    width: 643px;
  }
}
@media only screen and (min-width: 1024px) {
  main .second-section .second-section-div .second-section-cards {
    max-width: 970px;
  }
}
@media only screen and (min-width: 1200px) {
  main .second-section .second-section-div .second-section-cards {
    max-width: 1150px !important;
  }
}
@media only screen and (min-width: 1440px) {
  main .second-section .second-section-div .second-section-cards {
    max-width: 1350px !important;
  }
}
main .second-section .second-section-div .second-section-cards .first-cards {
  display: flex !important;
  justify-content: center !important;
  gap: 64px;
}
@media only screen and (min-width: 320px) {
  main .second-section .second-section-div .second-section-cards .first-cards {
    flex-direction: column;
    gap: 32px;
  }
}
@media only screen and (min-width: 1024px) {
  main .second-section .second-section-div .second-section-cards .first-cards {
    flex-direction: row;
    gap: 64px;
  }
}
main .second-section .second-section-div .second-section-cards .first-cards img {
  border-radius: 10px;
}
main .second-section .second-section-div .second-section-cards .first-cards h3,
main .second-section .second-section-div .second-section-cards .first-cards p {
  width: 500px;
  padding-top: 20px;
}
@media only screen and (min-width: 320px) {
  main .second-section .second-section-div .second-section-cards .first-cards h3,
  main .second-section .second-section-div .second-section-cards .first-cards p {
    width: 300px;
    text-align: center;
  }
}
@media only screen and (min-width: 540px) {
  main .second-section .second-section-div .second-section-cards .first-cards h3,
  main .second-section .second-section-div .second-section-cards .first-cards p {
    width: 500px;
  }
}
@media only screen and (min-width: 768px) {
  main .second-section .second-section-div .second-section-cards .first-cards h3,
  main .second-section .second-section-div .second-section-cards .first-cards p {
    width: 500px;
    text-align: left;
  }
}
@media only screen and (min-width: 1024px) {
  main .second-section .second-section-div .second-section-cards .first-cards h3,
  main .second-section .second-section-div .second-section-cards .first-cards p {
    width: 400px;
  }
}
@media only screen and (min-width: 1200px) {
  main .second-section .second-section-div .second-section-cards .first-cards h3,
  main .second-section .second-section-div .second-section-cards .first-cards p {
    width: 500px;
  }
}
@media only screen and (min-width: 320px) {
  main .second-section .second-section-div .second-section-cards .first-cards .paragraph {
    margin-bottom: 40px;
  }
}
@media only screen and (min-width: 1024px) {
  main .second-section .second-section-div .second-section-cards .first-cards .paragraph {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 1024px) {
  main .second-section .second-section-div .second-section-cards .first-cards .first-cards-div-two-img {
    height: 425px;
  }
}
@media only screen and (min-width: 1200px) {
  main .second-section .second-section-div .second-section-cards .first-cards .first-cards-div-two-img {
    height: 512px;
  }
}
@media only screen and (min-width: 1440px) {
  main .second-section .second-section-div .second-section-cards .first-cards .first-cards-div-two-img {
    height: 605px;
  }
}
main .second-section .second-section-div .second-section-cards .second-cards {
  display: flex !important;
  justify-content: center !important;
  gap: 64px;
}
@media only screen and (min-width: 320px) {
  main .second-section .second-section-div .second-section-cards .second-cards {
    flex-direction: column;
    gap: 32px;
  }
}
@media only screen and (min-width: 1024px) {
  main .second-section .second-section-div .second-section-cards .second-cards {
    flex-direction: row;
    gap: 64px;
  }
}
main .second-section .second-section-div .second-section-cards .second-cards h3,
main .second-section .second-section-div .second-section-cards .second-cards p {
  width: 500px;
  padding-top: 20px;
}
@media only screen and (min-width: 320px) {
  main .second-section .second-section-div .second-section-cards .second-cards h3,
  main .second-section .second-section-div .second-section-cards .second-cards p {
    width: 300px;
    text-align: center;
  }
}
@media only screen and (min-width: 320px) and (min-width: 540px) {
  main .second-section .second-section-div .second-section-cards .second-cards h3,
  main .second-section .second-section-div .second-section-cards .second-cards p {
    width: 500px;
  }
}
@media only screen and (min-width: 320px) and (min-width: 768px) {
  main .second-section .second-section-div .second-section-cards .second-cards h3,
  main .second-section .second-section-div .second-section-cards .second-cards p {
    width: 500px;
    text-align: left;
  }
}
@media only screen and (min-width: 320px) and (min-width: 1024px) {
  main .second-section .second-section-div .second-section-cards .second-cards h3,
  main .second-section .second-section-div .second-section-cards .second-cards p {
    width: 400px;
  }
}
@media only screen and (min-width: 320px) and (min-width: 1200px) {
  main .second-section .second-section-div .second-section-cards .second-cards h3,
  main .second-section .second-section-div .second-section-cards .second-cards p {
    width: 500px;
  }
}
main .second-section .second-section-div .second-section-cards .second-cards h3 {
  color: rgb(27, 29, 62);
}
main .second-section .second-section-div .second-section-cards .second-cards p {
  color: rgb(87, 90, 102);
}
main .second-section .second-section-div .second-section-cards .second-cards .second-cards-div-one-img {
  border-radius: 10px;
}
main .third-section .info-section {
  position: relative;
}
@media only screen and (min-width: 320px) {
  main .third-section .info-section {
    top: 70px;
  }
}
@media only screen and (min-width: 540px) {
  main .third-section .info-section {
    top: 180px;
  }
}
@media only screen and (min-width: 768px) {
  main .third-section .info-section {
    top: 180px;
  }
}
@media only screen and (min-width: 1024px) {
  main .third-section .info-section {
    top: 150px;
  }
}
@media only screen and (min-width: 1200px) {
  main .third-section .info-section {
    top: 150px;
  }
}
@media only screen and (min-width: 1440px) {
  main .third-section .info-section {
    top: 300px;
  }
}
main .third-section .info-section .why-choose-div {
  display: flex;
  gap: 64px;
}
@media only screen and (min-width: 320px) {
  main .third-section .info-section .why-choose-div {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
  }
}
@media only screen and (min-width: 768px) {
  main .third-section .info-section .why-choose-div {
    text-align: left;
    gap: 64px;
  }
}
@media only screen and (min-width: 1024px) {
  main .third-section .info-section .why-choose-div {
    flex-direction: row;
    max-width: 970px;
  }
}
@media only screen and (min-width: 1200px) {
  main .third-section .info-section .why-choose-div {
    max-width: 1150px;
  }
}
@media only screen and (min-width: 1440px) {
  main .third-section .info-section .why-choose-div {
    max-width: 1350px;
  }
}
@media only screen and (min-width: 320px) {
  main .third-section .info-section .why-choose-div .why-choose-div-first-img img {
    width: 300px;
  }
}
@media only screen and (min-width: 540px) {
  main .third-section .info-section .why-choose-div .why-choose-div-first-img img {
    width: 500px;
  }
}
@media only screen and (min-width: 768px) {
  main .third-section .info-section .why-choose-div .why-choose-div-first-img img {
    width: 600px;
  }
}
@media only screen and (min-width: 1024px) {
  main .third-section .info-section .why-choose-div .why-choose-div-first-img img {
    width: 453px;
  }
}
@media only screen and (min-width: 1200px) {
  main .third-section .info-section .why-choose-div .why-choose-div-first-img img {
    width: 543px;
  }
}
@media only screen and (min-width: 1440px) {
  main .third-section .info-section .why-choose-div .why-choose-div-first-img img {
    width: 643px;
  }
}
main .third-section .info-section .why-choose-div ul {
  margin-bottom: 0 !important;
  padding-bottom: 30px;
}
@media only screen and (min-width: 320px) {
  main .third-section .info-section .why-choose-div ul {
    width: 300px;
  }
}
@media only screen and (min-width: 540px) {
  main .third-section .info-section .why-choose-div ul {
    width: 500px;
  }
}
@media only screen and (min-width: 768px) {
  main .third-section .info-section .why-choose-div ul {
    width: 600px;
  }
}
@media only screen and (min-width: 1024px) {
  main .third-section .info-section .why-choose-div ul {
    width: auto;
  }
}
@media only screen and (min-width: 1200px) {
  main .third-section .info-section .why-choose-div ul {
    padding-top: 30px;
    padding-bottom: 0;
  }
}
main .third-section .info-section .why-choose-div ul li {
  padding-top: 20px;
}
@media only screen and (min-width: 1024px) {
  main .third-section .info-section .why-choose-div ul li {
    padding-top: 10px;
  }
}
@media only screen and (min-width: 1200px) {
  main .third-section .info-section .why-choose-div ul li {
    padding-top: 20px;
  }
}
main .third-section .info-section .why-choose-div ul li span {
  display: flex; /* Flexbox for alignment */
  align-items: flex-start; /* Align image and text at the top */
  gap: 8px;
  line-height: 30px;
}
@media only screen and (min-width: 320px) {
  main .third-section .info-section .why-choose-div ul li span {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1024px) {
  main .third-section .info-section .why-choose-div ul li span {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1200px) {
  main .third-section .info-section .why-choose-div ul li span {
    font-size: 18px;
  }
}
@media only screen and (min-width: 1440px) {
  main .third-section .info-section .why-choose-div ul li span {
    font-size: 22px;
    line-height: 40px;
  }
}
main .third-section .info-section .why-choose-div ul li span img {
  flex-shrink: 0;
}
main .third-section .info-section .why-choose-div ul a {
  position: relative;
  top: 20px;
}
main .third-section .info-section .why-choose-div ul a button {
  outline: none;
  padding: 8px 20px;
  background-color: rgb(64, 70, 148);
  color: rgb(255, 255, 255);
}
main .third-section .info-section .effortless-check-in-div {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  top: 96px;
}
@media only screen and (min-width: 320px) {
  main .third-section .info-section .effortless-check-in-div {
    top: 50px;
  }
}
@media only screen and (min-width: 768px) {
  main .third-section .info-section .effortless-check-in-div {
    top: 96px;
  }
}
main .third-section .info-section .effortless-check-in-div .effortless-check-in {
  background-color: rgb(27, 29, 62);
  border-radius: 10px;
  display: flex;
  justify-content: center;
}
@media only screen and (min-width: 768px) {
  main .third-section .info-section .effortless-check-in-div .effortless-check-in {
    width: 100%;
  }
}
@media only screen and (min-width: 1200px) {
  main .third-section .info-section .effortless-check-in-div .effortless-check-in {
    width: auto;
  }
}
main .third-section .info-section .effortless-check-in-div .effortless-check-in .effortless-check-in-content {
  display: flex;
  gap: 40px;
  padding: 40px;
}
@media only screen and (min-width: 320px) {
  main .third-section .info-section .effortless-check-in-div .effortless-check-in .effortless-check-in-content {
    flex-direction: column;
    gap: 25px;
    width: 300px;
  }
}
@media only screen and (min-width: 540px) {
  main .third-section .info-section .effortless-check-in-div .effortless-check-in .effortless-check-in-content {
    width: 500px;
  }
}
@media only screen and (min-width: 768px) {
  main .third-section .info-section .effortless-check-in-div .effortless-check-in .effortless-check-in-content {
    width: auto;
  }
}
@media only screen and (min-width: 1024px) {
  main .third-section .info-section .effortless-check-in-div .effortless-check-in .effortless-check-in-content {
    flex-direction: row;
    gap: 40px;
  }
}
@media only screen and (min-width: 320px) {
  main .third-section .info-section .effortless-check-in-div .effortless-check-in .effortless-check-in-content .effortless-check-in-content-div {
    order: 2;
    text-align: center;
  }
}
@media only screen and (min-width: 768px) {
  main .third-section .info-section .effortless-check-in-div .effortless-check-in .effortless-check-in-content .effortless-check-in-content-div {
    text-align: left;
  }
}
@media only screen and (min-width: 1024px) {
  main .third-section .info-section .effortless-check-in-div .effortless-check-in .effortless-check-in-content .effortless-check-in-content-div {
    order: 1;
  }
}
main .third-section .info-section .effortless-check-in-div .effortless-check-in .effortless-check-in-content .effortless-check-in-content-div h3 {
  color: rgb(255, 255, 255);
}
main .third-section .info-section .effortless-check-in-div .effortless-check-in .effortless-check-in-content .effortless-check-in-content-div p {
  font-size: 18px;
  line-height: 30px;
  width: 415px;
  color: rgb(196, 198, 222);
}
@media only screen and (min-width: 320px) {
  main .third-section .info-section .effortless-check-in-div .effortless-check-in .effortless-check-in-content .effortless-check-in-content-div p {
    font-size: 16px;
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  main .third-section .info-section .effortless-check-in-div .effortless-check-in .effortless-check-in-content .effortless-check-in-content-div p {
    width: 415px;
  }
}
main .third-section .info-section .effortless-check-in-div .effortless-check-in .effortless-check-in-content .effortless-check-in-content-div ul li {
  padding-bottom: 20px;
  color: rgb(196, 198, 222);
}
main .third-section .info-section .effortless-check-in-div .effortless-check-in .effortless-check-in-content .effortless-check-in-content-div ul li:first-child {
  padding-top: 20px;
}
main .third-section .info-section .effortless-check-in-div .effortless-check-in .effortless-check-in-content .effortless-check-in-content-div a button {
  padding: 10px 30px;
  border-radius: 4px;
  background-color: #ecedf4;
  color: #232751;
  outline: none;
}
@media only screen and (min-width: 1024px) {
  main .third-section .info-section .effortless-check-in-div .effortless-check-in .code-scannig-img {
    order: 1;
  }
}

.footer {
  width: 100% !important;
  max-width: 100%;
  margin: 0px 0 83% !important;
}
@media only screen and (min-width: 320px) {
  .footer {
    margin: 0px 0 200px !important;
  }
}
@media only screen and (min-width: 540px) {
  .footer {
    margin: 0px 0 605px !important;
  }
}
@media only screen and (min-width: 768px) {
  .footer {
    margin: 0px 0 805px !important;
  }
}
@media only screen and (min-width: 1200px) {
  .footer {
    margin: 0px 0 1005px !important;
  }
}
.footer .footers {
  width: 100% !important;
  padding: 48px 0;
  background-color: rgb(27, 29, 62) !important;
  position: relative;
}
@media only screen and (min-width: 320px) {
  .footer .footers {
    top: 200px;
  }
}
@media only screen and (min-width: 540px) {
  .footer .footers {
    top: 600px;
  }
}
@media only screen and (min-width: 768px) {
  .footer .footers {
    top: 800px;
  }
}
@media only screen and (min-width: 1024px) {
  .footer .footers {
    top: 800px;
  }
}
@media only screen and (min-width: 1200px) {
  .footer .footers {
    top: 1000px;
  }
}
@media only screen and (min-width: 1440px) {
  .footer .footers {
    top: 1000px;
  }
}
.footer .footers .footer-content {
  width: 100% !important;
  max-width: 1150px !important;
  position: relative !important;
  left: 50%;
  transform: translate(-50%);
}
@media only screen and (min-width: 768px) {
  .footer .footers .footer-content {
    padding: 0 20px; /* Adjust padding for tablet screens and above */
  }
}
@media only screen and (min-width: 900px) {
  .footer .footers .footer-content {
    padding: 0;
    max-width: 850px !important;
  }
}
@media only screen and (min-width: 1024px) {
  .footer .footers .footer-content {
    max-width: 970px !important;
  }
}
@media only screen and (min-width: 1200px) {
  .footer .footers .footer-content {
    max-width: 1150px !important;
  }
}
@media only screen and (min-width: 1440px) {
  .footer .footers .footer-content {
    max-width: 1350px !important;
  }
}
.footer .footers .footer-header {
  display: flex;
  justify-content: space-between;
}
@media only screen and (min-width: 320px) {
  .footer .footers .footer-header {
    flex-direction: column;
  }
}
@media only screen and (min-width: 768px) {
  .footer .footers .footer-header {
    flex-direction: row;
  }
}
.footer .footers .footer-header .footer-logo-image {
  width: 100%;
  max-width: 100px;
  display: flex;
  align-items: center;
}
.footer .footers .footer-header .socials {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (min-width: 320px) {
  .footer .footers .footer-header .socials {
    justify-content: center;
    margin-top: 20px;
  }
}
@media only screen and (min-width: 768px) {
  .footer .footers .footer-header .socials {
    position: relative;
    left: 12px;
  }
}
.footer .footers .footer-header .socials img {
  display: inline-block;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 0.3s ease, transform 0.3s ease;
  padding: 5px;
}
.footer .footers .footer-header .socials img:hover {
  background-color: rgba(255, 255, 255, 0.744);
  transform: scale(1.1);
}
.footer .footers .footer-line {
  padding-top: 30px;
}
@media only screen and (min-width: 320px) {
  .footer .footers .footer-line {
    padding-top: 20px;
  }
}
@media only screen and (min-width: 768px) {
  .footer .footers .footer-line {
    padding-top: 30px;
  }
}
.footer .footers .footer-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  color: rgb(203, 204, 208);
}
@media only screen and (min-width: 320px) {
  .footer .footers .footer-bottom {
    padding-top: 20px;
  }
}
@media only screen and (min-width: 768px) {
  .footer .footers .footer-bottom {
    flex-wrap: nowrap;
    padding-top: 40px;
  }
}
.footer .footers .footer-bottom p {
  text-align: left;
  margin: 0;
}
@media only screen and (min-width: 320px) {
  .footer .footers .footer-bottom p {
    width: 100%;
    max-width: 200px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}
@media only screen and (min-width: 768px) {
  .footer .footers .footer-bottom p {
    text-align: left;
    margin: 0;
    width: 100%;
    max-width: 500px;
  }
}
.footer .footers .footer-bottom .footer-bottom-socials {
  display: flex;
  gap: 16px;
}
@media only screen and (min-width: 320px) {
  .footer .footers .footer-bottom .footer-bottom-socials {
    justify-content: center;
    width: 100%;
    text-wrap: nowrap;
  }
}
@media only screen and (min-width: 768px) {
  .footer .footers .footer-bottom .footer-bottom-socials {
    width: auto;
  }
}
.footer .footers .footer-bottom .footer-bottom-socials span {
  position: relative;
  cursor: pointer;
}
.footer .footers .footer-bottom .footer-bottom-socials span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: rgb(203, 204, 208);
  transition: height 0.3s linear;
}
.footer .footers .footer-bottom .footer-bottom-socials span:hover::after {
  height: 1px;
}/*# sourceMappingURL=global.css.map */