@use "../style" as *;

@font-face {
  font-family: "Neue Regrade";
  src: url("../fonts-style/fonts/neue_regrade/Neue\ Regrade\ Regular.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Neue Regrade";
  src: url("../fonts-style/fonts/neue_regrade/Neue\ Regrade\ semibold.otf")
    format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Neue Regrade";
  src: url("../fonts-style/fonts/neue_regrade/Neue-Regrade-Bold.otf")
    format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Neue Regrade";
  src: url("../fonts-style/fonts/neue_regrade/Neue\ Regrade\ Extrabold.otf")
    format("opentype");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Neue Regrade", sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 100% !important;
  background-color: rgba(233, 235, 248, 1);

  overflow-x: hidden !important;
  height: 100% !important;
  // padding-top: 70px;
}

header.header {
  display: block !important;
  height: 550px !important;
  position: relative !important;
  @include smallMobile {
    padding: 0 !important;
  }
  .header-container {
    // position: fixed;
    // height: 550px;
    width: 100% !important;
    .headers {
      // position: fixed;
      width: 100% !important;
      height: 550px !important;

      background: linear-gradient(
          to right,
          rgba(227, 149, 76, 0.8),
          rgba(58, 64, 135, 0.8)
        ),
        url("https://s3-alpha-sig.figma.com/img/fbd9/6413/4145d90a9562b3eff6ef5c97a10cad3e?Expires=1732492800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=J-e~Px~~oBVy5e41cykZ8aBoP3uqFg1l6MTIdeZ-0WXDLb-uO2O3t0xKKIiz483OSSlw0jExFLXy0G4gikxFRxYdMPDstsQZAbM6jxM~C86QZIfJEOJ6GuHJICeihFqhZr9iRtfSjp-krOtzKeKZ-2ULFXIpHi28SN8wYzoaD4jCrZYxCksy1lhjxW7~VoS-g3R69t1r9yGUTlQuJx0aCOZvI2uK2JfM4PuI8f6seWRCw1zLT1Ec7ty2VOHN9eI0istnUahrDpYojiDibJ0SQkvI3swyOeeJ4Lr9HIOMDx0FLwdTWjDZWYXC5nAbn70ouq9mpx~AAiAbAqc7k4IKEg__");
      background-size: cover;
      background-position: center;
      background-color: rgba(255, 255, 255, 1);
      // overflow-y: hidden;
      @include smallMobile {
        height: 500px;
      }
      @include tablet_768 {
        height: 700px !important;
      }
      // @include laptop {
      //   height: 700px !important;
      // }
      .nav-bar {
        width: 100%;
        max-width: 1150px;
        margin: 0px auto;
        position: fixed !important;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        padding: 15px 16px;
        border: 1px solid rgba(0, 0, 0, 0.05);
        border-radius: 12px;
        box-shadow: rgba(0, 0, 0, 0.05);
        background-color: rgba(255, 255, 255, 1);
        z-index: 100;
        //   background-color: black;
        // position: fixed;
        @include smallMobile {
          border-radius: 0;
          top: 0;
          // max-width: 320px;
        }
        //   @include tablet_768 {
        //     max-width: 1100px;
        //   }
        @include tablet_900 {
          border-radius: 12px;
          top: 20px;
          max-width: 850px;
        }
        @include tabletAndAbove {
          max-width: 970px;
        }
        @include laptop {
          max-width: 1150px;
        }
        @include largerLaptop {
          max-width: 1350px;
        }

        & .nav-bar-ul {
          display: flex;
          justify-content: space-between;
          align-items: $align;
          width: 100%;
          padding: 0;
          @include smallMobile {
            display: none;
          }
          @include tablet_900 {
            display: flex;
          }
          ul {
            display: flex;
            justify-content: center;
            position: relative;

            margin: 0 auto;
            gap: 20px;

            @include smallMobile {
              flex-direction: column;
            }
            @include tablet_900 {
              flex-direction: row;
            }
          }
          li {
            padding: 8px;
            border-radius: 4px;
            color: rgba(87, 90, 102, 1);
            text-align: $align;
            cursor: pointer;
            &:hover {
              background-color: rgba(238, 239, 240, 1);
            }
          }
        }
        .menu {
          position: relative;
          // @include smallMobile {
          //   display: none;
          // }
          &.active {
            @include smallMobile {
              position: absolute;
              top: 75px;
              display: flex;
              justify-content: center;
              flex-direction: column;
              background-color: white;
              width: 80%;
              border-radius: 6px;
              text-align: center;
              padding: 24px 0px;
              margin: 0 auto;
              left: 50%;
              transform: translate(-50%, 0);
              font: {
                size: 14px;
              }
              z-index: 100;
            }
          }
        }

        & .hamburger {
          border: 0;
          background-color: white;
          @include smallMobile {
            display: block !important;
            cursor: pointer;
          }
          @include tablet_900 {
            display: none !important;
          }
          & .img-hamburger {
            width: 30px;
            display: block !important;
          }
          & .x-icon {
            padding-bottom: 4px;
            display: none !important;
          }
          &.active {
            .img-hamburger {
              display: none !important;
            }
            .x-icon {
              display: block !important;
            }
          }
        }
      }
      .hero-section {
        // width: 912px;
        // height: 324px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: auto !important;
        // padding-top: 60px;
        position: relative;
        top: 150px;
        @include smallMobile {
          // padding: 40px 16px;
          top: 120px;
        }
        // @include tablet_768 {
        //   padding-top: 60px;
        // }
        .hero-section-text {
          .hero-title {
            h1 {
              width: 60%;
              margin: 0 auto;
              font-size: 45px;
              text-align: center;
              font-weight: 700;
              color: rgba(255, 255, 255, 1);
              // font-style:  Disaplay Large/Bold;
              @include smallMobile {
                font-size: 25px;
                width: 90%;
              }
              @include tablet_768 {
                font-size: 50px;
              }
              @include tabletAndAbove {
                font-size: 45px;
                line-height: 60px;
                width: 60%;
              }
              // @include laptop {
              //   // font-size: 45px;
              //   line-height: 60px;
              // }
              @include largerLaptop {
                font-size: 62px;
                width: 70%;
                line-height: 70.4px;
              }
            }
          }
          .hero-subtitle {
            p {
              font-size: 22px;
              padding-top: 10px;

              color: rgba(255, 255, 255, 1);
              @include smallMobile {
                width: 80%;
                font-size: 16px;
                margin: 0 auto;
                text-align: center;
              }
              @include smallTablet {
                width: 60%;
              }
              @include tablet_768 {
                width: 80%;
                font-size: 22px;
                line-height: 27px;
                // text-wrap: nowrap;
              }
              // @include tabletAndAbove {
              //   font-size: 17px;

              // }
              @include laptop {
                // font-size: 22px;
                // line-height: 27px;
              }
              @include largerLaptop {
                font-size: 30px;
                line-height: 33.6px;
              }
            }
          }
        }
        .feature-highlight {
          display: flex;
          gap: 32px;
          padding-top: 20px;
          line-height: 27px;
          @include smallMobile {
            flex-direction: column;
            gap: 10px;
          }
          @include tablet_768 {
            flex-direction: row;
            gap: 32px;
          }
          .paid-event {
            margin-right: 30px;
          }
          img {
            margin: 0 5px;
            vertical-align: baseline !important;
          }
          span {
            position: relative;
            bottom: 6px;
            font-size: 18px;
            color: rgba(255, 255, 255, 1);
            @include smallMobile {
              font-size: 16px;
            }
            @include tablet_768 {
              font-size: 18px;
            }
          }
        }
        .hero-action {
          padding-top: 20px;
          display: flex;
          padding-bottom: 50px;
          @include smallMobile {
            gap: 12px;
            padding-bottom: 50px;
          }
          @include largeMobile {
            padding-bottom: 30px;
          }
          @include tablet_768 {
            gap: 32px;
          }
          button {
            padding: 16px 28px;
            font-size: 17px;
            // margin: 0 13px;

            font-weight: 600;

            border-radius: 4px;
            // box-shadow: 0px 2px rgba(16, 24, 40, 0.05);
            @include smallMobile {
              padding: 10px 16px;
              font-size: 11px;
            }
            @include tablet_768 {
              padding: 16px 28px;
              font-size: 17px;
              line-height: 27px;
            }
          }
        }
      }
      .device {
        position: static;
        &::after {
          content: "";
          display: block;
          clear: both;
        }
        img {
          position: relative !important;
          top: 50% !important;
          left: 50% !important;
          transform: translate(-55%, 0) !important;
          // margin-bottom: 100px;
          // z-index: 100;
          bottom: 20px;
          padding-top: 150px;
          @include smallMobile {
            width: 300px;
            padding: 120px 16px 0;
          }
          @include largeMobile {
            bottom: 0;
          }
          @include smallTablet {
            bottom: 20px;
            width: 450px;
            padding: 150px 0 0;
          }
          @include tablet_768 {
            width: 600px;
          }
          @include tablet_900 {
            width: 700px;
          }
          @include laptop {
            width: 850px;
          }
          @include largerLaptop {
            width: 1000px;
          }
        }
      }
    }
  }
}
main {
  display: flex;
  position: relative !important;
  min-height: 3000px !important;
  @include smallMobile{
    min-height: 0 !important;
    top: 40px !important;
  }
  @include smallTablet {
    min-height: 3200px !important;
    // top: 30px !important;
  }
  @include tablet_768 {
    min-height: 4000px !important;
    top: 60px !important;
  }
  @include tabletAndAbove {
    min-height: 2500px !important;
    top: 0px !important;
  }
  @include laptop {
    top: 80px !important;
  }
  @include largerLaptop {
    min-height: 3000px !important;
    // top: 100px !important;
  }
  &.mt-5 {
    margin-top: 0 !important;
  }
  .first-section {
    position: relative;
    top: 70px;

    @include smallMobile {
      top: 80px;
      padding: 0 16px !important;
    }
    @include smallTablet {
      // top: 160px;
      padding: 0;
    }
    @include tablet_768 {
      top: 60px;
    }
    @include tabletAndAbove {
      // top: 450px;
    }
    @include largerLaptop {
      // top: 600px;
    }
    .first-section-div {
      // background-color:rgba(233, 235, 248, 1);
      .first-section-title {
        text-align: center;
        h2 {
          font-size: 40px !important;
          width: 400px;
          margin: 0px auto 40px;
          color: rgba(27, 29, 62, 1);
          margin-top: 0 !important;
          @include smallMobile {
            font-size: 20px !important;
            width: 200px;
            margin: 0px auto 30px;
          }
          @include smallTablet {
            margin: 80px auto 40px;
          }
          @include tablet_768 {
            font-size: 40px !important;
            width: 400px;
            margin: 0px auto 40px;
          }
        }
      }
      .first-section-cards {
        img {
          @include smallMobile {
            width: 300px;
          }
          @include smallTablet {
            width: 500px;
          }
          @include tablet_768 {
            width: 600px;
          }
          @include tabletAndAbove {
            width: 430px;
          }
          @include laptop {
            width: 525px;
          }
          @include largerLaptop {
            width: 624px;
          }
        }
        // display: flex;
        // gap: 64px;
        margin-bottom: 100px;
        @include tabletAndAbove {
          max-width: 970px;
        }
        @include laptop {
          max-width: 1150px !important;
        }
        @include largerLaptop {
          max-width: 1350px !important;
        }
        .first-cards {
          display: flex !important;
          justify-content: center !important;
          gap: 64px;
          @include smallMobile {
            flex-direction: column;
            gap: 32px;
          }
          @include tabletAndAbove {
            flex-direction: row;
            gap: 64px;
          }
          // .first-cards-div-one,
          // .first-cards-div-two {
          //   @include tablet_768 {
          //     margin: 0 auto;
          //   }
          //   @include tabletAndAbove {
          //     margin: 0;
          //   }
          // }
          h3,
          p {
            width: 500px;
            padding-top: 20px;
            @include smallMobile {
              width: 300px;
              text-align: center;
            }
            @include smallTablet {
              width: 500px;
            }
            @include tablet_768 {
              width: 500px;
              text-align: left;
            }
            @include tabletAndAbove {
              width: 400px;
              // text-align: left;
            }
            @include laptop {
              width: 500px;
            }
          }
          .paragraph {
            @include smallMobile {
              margin-bottom: 40px;
            }
            @include tabletAndAbove {
              margin-bottom: 0;
            }
          }
        }
        .second-cards {
          display: flex !important;
          justify-content: center !important;
          gap: 64px;
          @include smallMobile {
            flex-direction: column;
            gap: 32px;
          }
          @include tabletAndAbove {
            flex-direction: row;
            gap: 64px;
          }
          // .second-cards-div-one,
          // .second-cards-div-two {
          //   @include tablet_768 {
          //     margin: 0 auto;
          //   }
          //   @include tabletAndAbove {
          //     margin: 0;
          //   }
          // }
          h3,
          p {
            width: 500px;
            padding-top: 20px;
            @include smallMobile {
              width: 300px;
              text-align: center;
              @include smallTablet {
                width: 500px;
              }
              @include tablet_768 {
                width: 500px;
                text-align: left;
              }
              @include tabletAndAbove {
                width: 400px;
                // text-align: left;
              }
              @include laptop {
                width: 500px;
              }
            }
          }
          h3 {
            color: rgba(27, 29, 62, 1);
          }
          p {
            color: rgba(87, 90, 102, 1);
          }
        }
      }
    }
  }
  .second-section {
    .spotlight {
      display: flex;
      // flex-direction: column; /* Stack items vertically */
      // align-items: center;

      .content-slider {
        display: flex;
        flex-wrap: nowrap; /* Ensure items are in a single row unless you want wrapping */
        gap: 20px; /* Add spacing between items */
        justify-content: center; /* Center the slider items */
        align-items: center;
        .content-slider-track {
          display: flex;
        }

        .content-slider-item {
          position: relative;
          width: 50px; /* Adjust width as needed */
          height: 50px; /* Adjust height as needed */
          span {
            display: inline-block;
          }
          .first-half-circle {
            position: absolute;
            top: 0;
            left: 0;
            transform: rotate(0deg); /* No rotation needed */
          }

          .second-half-circle {
            position: absolute;
            top: 5px; /* Adjust as needed for the slant */
            left: 1px; /* Adjust as needed for alignment */
            // transform: rotate(180deg); /* Flips the second half-circle */
          }
        }
      }
    }
  }
}
.footer {
  margin: 0px !important;
  // margin-top: 1000px !important;
  width: 100% !important;
  max-width: 100%;
  @include tablet_768 {
    margin-top: 300px !important;
  }
  .footers {
    width: 100% !important;

    padding: 48px 0;
    background-color: rgba(27, 29, 62, 1) !important;

    position: relative;
    top: 40px;
    margin-bottom: 40px;
    .footer-content {
      width: 100% !important;
      max-width: 1150px !important;
      // margin: 0px auto;
      position: relative !important;
      left: 50%;
      transform: translate(-50%);
      padding: 0 80px;
      @include smallMobile {
        padding: 0 50px;
        // max-width:  850px !important;
      }
      @include largeMobile {
        padding: 0 80px;
      }
      @include tablet_768 {
        padding: 0 20px; /* Adjust padding for tablet screens and above */
      }

      @include tablet_900 {
        padding: 0 20px;
        max-width: 850px !important;
      }
      @include tabletAndAbove {
        max-width: 970px !important;
        padding: 0 17px;
      }
      @include laptop {
        max-width: 1150px !important;
        padding: 0 16px; /* Narrower padding for laptops and larger screens */
      }
      @include largerLaptop {
        max-width: 1350px !important;
        padding: 0 17px;
      }
    }

    .footer-header {
      display: flex;
      justify-content: space-between;

      @include smallMobile {
        flex-direction: column;
      }
      @include tablet_768 {
        flex-direction: row;
      }

      .footer-logo {
        display: flex;
        align-items: center;
      }

      .socials {
        display: flex;
        // gap: 16px;
        align-items: center;
        justify-content: center;
        @include smallMobile {
          justify-content: center;
          margin-top: 20px;
        }
        @include tablet_768 {
          position: relative;
          left: 12px;
        }
        & img {
          display: inline-block;
          border-radius: 50%;
          background-color: transparent;
          transition: background-color 0.3s ease, transform 0.3s ease;
          padding: 5px;
          &:hover {
            background-color: rgba(255, 255, 255, 0.744);
            transform: scale(1.1);
          }
        }
      }
    }

    .footer-line {
      padding-top: 30px;

      @include smallMobile {
        padding-top: 20px;
      }
      @include tablet_768 {
        padding-top: 30px;
      }
    }

    .footer-bottom {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      padding-top: 40px;
      color: rgba(203, 204, 208, 1);
      @include smallMobile {
        padding-top: 20px;
      }
      @include tablet_768 {
        flex-wrap: nowrap;
        padding-top: 40px;
      }

      p {
        text-align: left;
        margin: 0;

        @include smallMobile {
          width: 100%;
          max-width: 200px;
          text-align: center;
          margin: 0 auto;
          margin-bottom: 10px;
        }
        @include tablet_768 {
          text-align: left;
          margin: 0;
          width: 100%;
          max-width: 500px;
        }
      }

      .footer-bottom-socials {
        display: flex;
        gap: 16px;

        @include smallMobile {
          justify-content: center;
          width: 100%;

          text-wrap: nowrap;
        }
        @include tablet_768 {
          width: auto;
        }
        span {
          position: relative;
          cursor: pointer;

          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0;
            background-color: rgba(203, 204, 208, 1);
            transition: height 0.3s linear;
          }

          &:hover::after {
            height: 1px;
          }
        }
      }
    }
  }
}
