@use "../style" as *;

@font-face {
  font-family: "Neue Regrade";
  src: url("../fonts-style/fonts/neue_regrade/Neue\ Regrade\ Regular.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Neue Regrade";
  src: url("../fonts-style/fonts/neue_regrade/Neue\ Regrade\ semibold.otf")
    format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Neue Regrade";
  src: url("../fonts-style/fonts/neue_regrade/Neue-Regrade-Bold.otf")
    format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Neue Regrade";
  src: url("../fonts-style/fonts/neue_regrade/Neue\ Regrade\ Extrabold.otf")
    format("opentype");
  font-weight: 700;
  font-style: normal;
}
html {
  height: auto !important;
  min-height: 100% !important;
  // overflow-y: auto !important;
}
body {
  font-family: "Neue Regrade", sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 100% !important;
  overflow-x: hidden !important;
  min-height: 100vh !important;
  height: auto !important;
}
h1,
h2,
h3 {
  font-weight: 600;
}

.hero-section {
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

header.header {
  display: block !important;
  height: auto !important;
  // height: 550px !important;
  // position: relative !important;

  @include smallMobile {
    padding: 0 !important;
  }
  .headers {
    width: 100% !important;
    // height: 550px !important;
    .nav-bar {
      width: 100%;
      max-width: 1150px;
      margin: 0px auto;
      position: fixed !important;
      top: 20px;
      left: 50%;
      transform: translateX(-50%);
      padding: 15px 16px;
      border: 1px solid rgba(0, 0, 0, 0.05);
      border-radius: 12px;
      box-shadow: rgba(0, 0, 0, 0.05);
      background-color: rgba(255, 255, 255, 1);
      z-index: 10;
      // background-color: black;

      @include smallMobile {
        border-radius: 0;
        top: 0;
      }

      @include tablet_900 {
        border-radius: 12px;
        top: 20px;
        max-width: 850px;
      }
      @include tabletAndAbove {
        max-width: 970px;
      }
      @include laptop {
        max-width: 1150px;
      }
      @include largerLaptop {
        max-width: 1350px;
      }
      .nav-bar-logo {
        width: 100%;
        max-width: 100px;
      }

      & .nav-bar-ul {
        display: flex;
        justify-content: space-between;
        align-items: $align;
        width: 100%;
        padding: 0;
        @include smallMobile {
          display: none;
        }
        @include tablet_900 {
          display: flex;
        }
        ul {
          display: flex;
          justify-content: center;
          position: relative;

          margin: 0 auto;
          gap: 20px;

          @include smallMobile {
            flex-direction: column;
          }
          @include tablet_900 {
            flex-direction: row;
          }
        }
        li {
          padding: 8px;
          border-radius: 4px;
          color: rgba(87, 90, 102, 1);
          text-align: $align;
          cursor: pointer;
          &:hover {
            background-color: rgba(238, 239, 240, 1);
          }
        }
      }
      .menu {
        position: relative;

        &.active {
          @include smallMobile {
            position: absolute;
            top: 75px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            background-color: white;
            width: 80%;
            border-radius: 6px;
            text-align: center;
            padding: 24px 0px;
            margin: 0 auto;
            left: 50%;
            transform: translate(-50%, 0);
            font: {
              size: 14px;
            }
            z-index: 100;
          }
        }
      }

      .login-dropdown,
      .sign-up-dropdown {
        position: relative;
        display: inline-block;
        @include tablet_900 {
          &:hover .dropdown-content {
            display: block !important; /* Show the dropdown when hovering over the parent */
          }
        }

        .dropdown-content {
          display: none !important;
          position: absolute !important;
          background-color: white !important;
          min-width: 160px !important;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
          z-index: 1 !important;
          border-radius: 5px !important;

          a {
            color: black;
            padding: 10px 20px;
            text-decoration: none;
            display: block;
            font-size: 14px;
            transition: background-color 0.3s ease;

            &:hover {
              background-color: #f1f1f1;
            }
          }
        }
        &.open .dropdown-content {
          display: block !important; /* Show when the dropdown is open (used for mobile) */
        }
      }

      & .hamburger {
        border: 0;
        background-color: white;
        border: none;
        outline: none;
        @include smallMobile {
          display: block !important;
          cursor: pointer;
        }
        @include tablet_900 {
          display: none !important;
        }
        & .img-hamburger {
          width: 30px;
          display: block !important;
        }
        & .x-icon {
          padding-bottom: 4px;
          display: none !important;
        }
        &.active {
          .img-hamburger {
            display: none !important;
          }
          .x-icon {
            display: block !important;
          }
        }
      }
    }
  }
}

main {
  display: flex;
  background-color: rgba(233, 235, 248, 1);

  &.mt-5 {
    margin-top: 0 !important;
  }
  & .first-section {
    .hero-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 700px !important;

      padding: 0px 0 100px;

      max-height: none !important;
      background: url("../images/hero-section.png") !important;
      background-size: cover !important;
      background-position: center !important;

      margin-top: 0px !important;
      margin-bottom: 0px !important;

      @include smallMobile {
        height: 500px !important;
        padding: 50px 0 0;
      }
      @include smallTablet {
        height: 500px !important;
        padding: 60px 0 40px;
      }
      @include tablet_768 {
        height: 650px !important;
        padding: 0px 0 0px;
      }
      @include tablet_867 {
        height: 600px !important;
      }
      @include tabletAndAbove {
        height: 650px !important;
      }
      @include laptop {
        height: 600px !important;
        padding: 0 0 30px;
      }
      @include largerLaptop {
        height: 750px !important;
        padding: 0 0 50px;
      }

      .hero-section-text {
        .hero-title {
          h1 {
            width: 60%;
            margin: 0 auto;
            font-size: 45px;
            text-align: center;
            font-weight: 700;
            color: rgba(255, 255, 255, 1);

            @include smallMobile {
              font-size: 25px;
              width: 90%;
            }
            @include tablet_768 {
              font-size: 50px;
            }
            @include tabletAndAbove {
              font-size: 45px;
              line-height: 60px;
              width: 60%;
            }

            @include largerLaptop {
              font-size: 62px;
              width: 70%;
              line-height: 70.4px;
            }
          }
        }
        .hero-subtitle {
          p {
            font-size: 22px;
            padding-top: 10px;

            color: rgba(255, 255, 255, 1);
            @include smallMobile {
              width: 80%;
              font-size: 16px;
              margin: 0 auto;
              text-align: center;
            }
            @include smallTablet {
              width: 60%;
            }
            @include tablet_768 {
              width: 80%;
              font-size: 22px;
              line-height: 27px;
            }

            @include laptop {
            }
            @include largerLaptop {
              font-size: 30px;
              line-height: 33.6px;
            }
          }
        }
      }
      .feature-highlight {
        display: flex;
        gap: 32px;
        padding-top: 20px;
        line-height: 27px;
        @include smallMobile {
          flex-direction: column;
          gap: 10px;
        }
        @include tablet_768 {
          flex-direction: row;
          gap: 32px;
        }
        .paid-event {
          margin-right: 30px;
        }
        img {
          margin: 0 5px;
          vertical-align: baseline !important;
        }
        span {
          position: relative;
          bottom: 6px;
          font-size: 18px;
          color: rgba(255, 255, 255, 1);
          @include smallMobile {
            font-size: 16px;
          }
          @include tablet_768 {
            font-size: 18px;
          }
        }
      }
      .hero-action {
        padding-top: 20px;
        display: flex;
        padding-bottom: 50px;

        @include smallMobile {
          gap: 12px;
          padding-bottom: 50px;
        }
        @include largeMobile {
          padding-bottom: 30px;
        }
        @include tablet_768 {
          gap: 32px;
        }
        button {
          padding: 16px 28px;
          font-size: 17px;

          font-weight: 600;

          border-radius: 4px;

          @include smallMobile {
            padding: 10px 16px;
            font-size: 11px;
          }
          @include tablet_768 {
            padding: 16px 28px;
            font-size: 17px;
            line-height: 27px;
          }
        }
      }
    }
    .device {
      position: relative !important;
      bottom: 250px;

      @include smallMobile {
        bottom: 80px;
      }
      @include smallTablet {
        bottom: 105px;
      }
      @include tablet_768 {
        bottom: 130px;
      }
      @include tablet_867 {
        bottom: 150px;
      }
      @include laptop {
        bottom: 180px;
      }
      @include largerLaptop {
        bottom: 230px;
      }
      img {
        position: absolute !important;
        top: 0 !important;
        left: 50% !important;
        transform: translate(-52.5%, 0) !important;
        // margin: 120px 0 0;
        // margin-bottom: 100px;
        // z-index: 100;

        // padding-top: 150px;
        @include smallMobile {
          width: 300px;
          // padding: 120px 16px 0;
        }
        @include largeMobile {
          bottom: 0;
        }
        @include smallTablet {
          // bottom: 20px;
          width: 450px;
          // padding: 150px 0 0;
        }
        @include tablet_768 {
          width: 600px;
        }
        @include tablet_900 {
          width: 700px;
        }
        @include laptop {
          width: 850px;
        }
        @include largerLaptop {
          width: 1000px;
        }
      }
    }
  }
  // & .second-section {

  & .second-section {
    .second-section-div {
      @include smallMobile {
        margin: 140px 0 0 !important;
      }
      @include smallTablet {
        margin: 200px 0 0 !important;
      }
      @include tablet_768 {
        margin: 290px 0 0 !important;
      }
      @include tablet_900 {
        margin: 330px 0 0 !important;
      }

      @include laptop {
        margin: 400px 0 0 !important;
      }
      @include largerLaptop {
        margin: 450px 0 0 !important;
      }
      .second-section-title {
        text-align: center;
        h2 {
          font-size: 40px !important;

          width: 400px;
          margin: 0px auto 40px;
          color: rgba(27, 29, 62, 1);
          margin-top: 0 !important;
          @include smallMobile {
            font-size: 20px !important;
            width: 200px;
            margin: 0px auto 30px;
          }
          @include smallTablet {
            margin: 80px auto 40px;
          }
          @include tablet_768 {
            font-size: 40px !important;
            width: 400px;
            margin: 0px auto 40px;
          }
        }
      }
      .second-section-cards {
        // img {
        //   @include smallMobile {
        //     width: 300px;
        //   }
        //   @include smallTablet {
        //     width: 500px;
        //   }
        //   @include tablet_768 {
        //     width: 600px;
        //   }
        //   @include tabletAndAbove {
        //     width: 453px;
        //   }
        //   @include laptop {
        //     width: 543px;
        //   }
        //   @include largerLaptop {
        //     width: 571px;
        //   }
        // }

        margin-bottom: 100px;
        @include tabletAndAbove {
          max-width: 970px;
        }
        @include laptop {
          max-width: 1150px !important;
        }
        @include largerLaptop {
          max-width: 1350px !important;
        }
        .first-cards {
          display: flex !important;
          justify-content: center !important;
          gap: 64px;
          @include smallMobile {
            flex-direction: column;
            gap: 32px;
          }
          @include tabletAndAbove {
            flex-direction: row;
            gap: 64px;
          }
          img {
            border-top-left-radius: 8px;
            border-bottom-right-radius: 10px;
          }

          h3,
          p {
            width: 500px;
            padding-top: 20px;
            @include smallMobile {
              width: 300px;
              text-align: center;
            }
            @include smallTablet {
              width: 500px;
              margin: 0 auto;
            }
            @include tablet_768 {
              width: 500px;
              text-align: left;
              margin: 0;
            }
            @include tabletAndAbove {
              width: 450px;
            }
            @include laptop {
              width: 500px;
            }
            @include largerLaptop {
              width: 600px;
            }
          }
          p {
            font-size: 18px;
          }
          .paragraph {
            @include smallMobile {
              margin-bottom: 40px;
            }
            @include tabletAndAbove {
              margin-bottom: 0;
            }
          }
          & .card-img-container-one {
            position: relative;
            background: linear-gradient(
              to left,
              rgba(253, 227, 202, 1),
              rgba(196, 198, 222, 1)
            );
            height: 605px;
            width: 643px;
            border-radius: 10px;
            @include smallMobile {
              width: 300px;
              height: 400px;
            }
            @include smallTablet {
              width: 500px;
              height: 500px;
            }
            @include tablet_768 {
              height: 605px;
              width: 643px;
            }
            @include tabletAndAbove {
              width: 450px;
              height: 550px;
            }
            @include laptop {
              width: 542px;
              height: 605px;
            }
            @include largerLaptop {
              width: 643px;
            }
            .first-cards-div-one-img {
              position: relative;
              width: 571px;
              height: 533px;
              top: 95px;
              left: 72px;
              @include smallMobile {
                width: 259px;
                height: 338px;
                top: 62px;
                left: 40px;
              }
              @include smallTablet {
                width: 428px;
                left: 72px;
                height: 438px;
              }
              @include tablet_768 {
                top: 95px;
                left: 72px;
                height: 510px;
                width: 571px;
              }
              @include tabletAndAbove {
                width: 379px;
                height: 455px;
              }
              @include laptop {
                width: 470px;
                top: 95px;
                height: 510px;
              }
              @include largerLaptop {
                width: 571px;
              }
            }
            .zero-cost-image-container {
              position: relative;
              top: 73px;
              left: 70px;
              @include smallMobile {
                top: 80px;
              }
              @include smallTablet {
                left: 130px;
              }
              @include tablet_768 {
                left: 150px;
              }
              @include laptop {
                top: 73px;
              }
              .zero-cost-img {
                position: absolute;
                bottom: 215px;
                left: 90px;
                z-index: 1;
                @include smallMobile {
                  width: 60px;
                  bottom: 150px;
                  left: 0;
                }
                @include smallTablet {
                  bottom: 175px;
                  width: 90px;
                  left: 6px;
                }
                @include tablet_768 {
                  width: 100px;
                }
                @include tabletAndAbove {
                  width: 80px;
                  left: -30px;
                }
                @include laptop {
                  width: 100px;
                  left: -20px;
                }
                @include largerLaptop {
                  left: 5px;
                }
              }
              .presenting-img {
                position: absolute;
                bottom: 85px;
                left: 35px;
                @include smallMobile {
                  width: 90px;
                  left: -17px;
                }

                @include smallTablet {
                  width: 130px;
                }
                @include tablet_768 {
                  width: 150px;
                  bottom: 70px;
                }
                @include tabletAndAbove {
                  width: 120px;
                  left: -50px;
                  bottom: 90px;
                }
                @include laptop {
                  width: 150px;
                  bottom: 70px;
                }
                @include largerLaptop {
                  width: auto;
                  bottom: 50px;
                  left: -40px;
                }
              }
            }
          }
          & .card-img-container-two {
            background: linear-gradient(
              to right,
              rgba(196, 198, 222, 1),
              rgba(253, 227, 202, 1)
            );
            height: 605px;
            width: 643px;
            position: relative;
            border-radius: 10px;
            @include smallMobile {
              width: 300px;
              height: 400px;
            }
            @include smallTablet {
              width: 500px;
              height: 500px;
            }
            @include tablet_768 {
              height: 605px;
              width: 643px;
            }
            @include tabletAndAbove {
              width: 450px;
              height: 550px;
            }
            @include laptop {
              width: 542px;
              height: 605px;
            }
            @include largerLaptop {
              width: 643px;
            }
            .first-cards-div-two-img {
              position: absolute;
              width: 571px;
              height: 533px;
              top: 95px;
              left: 72px;
              @include smallMobile {
                width: 260px;
                height: 338px;
                top: 62px;
                left: 40px;
              }
              @include smallTablet {
                width: 428px;
                left: 72px;
                height: 438px;
              }
              @include tablet_768 {
                top: 95px;
                left: 72px;
                height: 510px;
                width: 571px;
              }
              @include tabletAndAbove {
                height: 455px;
                width: 379px;
              }
              @include laptop {
                width: 470px;
                top: 95px;
                height: 510px;
              }
              @include largerLaptop {
                width: 571px;
              }
            }
          }
        }
        .second-cards {
          display: flex !important;
          justify-content: center !important;
          gap: 64px;
          @include smallMobile {
            flex-direction: column;
            gap: 32px;
          }
          @include tabletAndAbove {
            flex-direction: row;
            gap: 64px;
            margin: 25px 0 0;
          }

          h3,
          p {
            width: 500px;
            padding-top: 20px;
            @include smallMobile {
              width: 300px;
              text-align: center;
              @include smallTablet {
                width: 500px;
                margin: 0 auto;
              }
              @include tablet_768 {
                width: 500px;
                text-align: left;
                margin: 0;
              }
              @include tabletAndAbove {
                width: 400px;
              }
              @include laptop {
                width: 500px;
              }
              @include largerLaptop {
                width: 600px;
              }
            }
          }
          p {
            font-size: 18px;
          }
          h3 {
            color: rgba(27, 29, 62, 1);
          }
          p {
            color: rgba(87, 90, 102, 1);
          }
          .card-img-container-three {
            background: linear-gradient(
              to right,
              rgba(196, 198, 222, 1),
              rgba(253, 227, 202, 1)
            );
            height: 605px;
            width: 643px;
            position: relative;
            border-radius: 10px;
            @include smallMobile {
              width: 300px;
              height: 400px;
            }
            @include smallTablet {
              width: 500px;
              height: 500px;
            }
            @include tablet_768 {
              height: 605px;
              width: 643px;
            }
            @include tabletAndAbove {
              width: 450px;
              height: 550px;
            }
            @include laptop {
              width: 542px;
              height: 605px;
            }
            @include largerLaptop {
              width: 643px;
            }
            .second-cards-div-one-img {
              // border-radius: 4px;
              border-top-left-radius: 8px;
              border-bottom-right-radius: 10px;
              position: absolute;
              top: 72px;
              top: 95px;
              left: 72px;
              width: 571px;
              height: 533px;
              @include smallMobile {
                width: 260px;
                height: 338px;
                top: 62px;
                left: 40px;
              }
              @include smallTablet {
                width: 428px;
                left: 72px;
                height: 438px;
              }
              @include tablet_768 {
                top: 95px;
                left: 72px;
                height: 510px;
                width: 571px;
              }
              @include tabletAndAbove {
                width: 379px;
                height: 455px;
              }
              @include laptop {
                width: 470px;
                top: 95px;
                height: 510px;
              }
              @include largerLaptop {
                width: 571px;
              }
            }
          }
          .second-cards-div-two-img {
            width: 643px;
            height: 610px;
            border-radius: 10px;
            @include smallMobile {
              width: 300px;
              height: 400px;
            }
            @include smallTablet {
              width: 500px;
              height: 500px;
            }
            @include tablet_768 {
              height: 605px;
              width: 643px;
            }
            @include tabletAndAbove {
              width: 450px;
              height: 550px;
            }
            @include laptop {
              width: 542px;
              height: 610px;
            }
            @include largerLaptop {
              width: 643px;
            }
          }
        }
      }
    }
  }
  & .third-section {
    display: flex;
    justify-content: center !important;
    padding: 50px;
    background-color: rgba(255, 255, 255, 1);
    // margin-bottom: 50px;

    width: 100%;
    @include smallMobile {
      justify-content: flex-start !important;
      padding: 16px 0 30px !important;
    }

    @include tablet_768 {
      padding: 16px 0px !important;
    }
    @include tablet_900 {
      justify-content: center !important;
    }
    @include tabletAndAbove {
      padding: 50px !important;
    }

    .third-section-div {
      @include smallMobile {
        max-width: 100%;
      }
      @include tablet_900 {
        max-width: 850px;
      }
      @include tabletAndAbove {
        max-width: 970px;
      }

      @include laptop {
        max-width: 1150px;
      }
      @include largerLaptop {
        max-width: 1350px;
        // padding: 0 19px;
      }

      & .spotlight {
        display: flex !important;
        gap: 24px;
        @include smallMobile {
          flex-direction: column;
          gap: 20px;
        }
        @include tablet_768 {
          flex-direction: row;
          gap: 24px;
        }
        // gap: 20px;
        // flex-direction: column; /* Stack items vertically */
        // align-items: center;
        h3 {
          padding-top: 5px;
          margin-block-end: 0 !important;
          margin-block-start: 0 !important;
          margin-bottom: 0 !important;
          @include smallMobile {
            font-size: 20px;
            width: 300px;
            text-align: center;
            margin: 0 auto;
          }
          @include tablet_768 {
            padding-left: 16px;
            width: 400px;
            text-align: left;
          }

          @include tablet_768 {
            width: 280px;
          }
          @include tablet_900 {
            padding-left: 0;
            width: 250px;
          }
          @include laptop {
            width: 230px;
          }
        }
        .content-slider {
          overflow: hidden; /* Hides the horizontal scrollbar */
          white-space: nowrap; /* Prevents items from wrapping */
          width: 100%;

          position: relative;
          @include smallMobile {
            overflow: visible;
          }
          @include tablet_768 {
            overflow: hidden;
          }
          .content-slider-track {
            display: flex;
            gap: 70px;
            animation: scroll 15s linear infinite;
            transform: translateY(20%);
          }

          .content-slider-item {
            // display: flex;
            display: flex; /* Align children side by side */
            align-items: center; /* Vertically center images and text */
            gap: 8px; /* Add spacing between elements */

            text-align: center;

            span {
              display: flex;
              align-items: center;
              gap: 8px;
              font-size: 20px;
              @include smallMobile {
                font-size: 16px;
              }
              @include tablet_768 {
                font-size: 20px;
              }
            }
            @keyframes scroll {
              0% {
                transform: translateX(0) translateY(20%);
              }
              100% {
                transform: translateX(-50%) translateY(20%);
              }
            }
          }
        }
      }
    }
  }
  & .fourth-section {
    margin: 0 0 100px;
    @include smallMobile {
      margin: 0 0 40px;
    }
    @include tablet_768 {
      margin: 0 0 100px;
    }
    .info-section {
      margin: 100px 0 0;
      .why-choose-div {
        display: flex;
        // top: 200px;
        gap: 64px;
        @include smallMobile {
          flex-direction: column;
          align-items: center;
          text-align: center;
          gap: 20px;
        }
        @include tablet_768 {
          text-align: left;
          gap: 64px;
        }
        @include tabletAndAbove {
          flex-direction: row;
          max-width: 970px;
        }
        @include laptop {
          max-width: 1150px;
        }
        @include largerLaptop {
          max-width: 1350px;
        }
        .why-choose-div-first-img {
          img {
            @include smallMobile {
              width: 300px;
            }
            @include smallTablet {
              width: 500px;
            }
            @include tablet_768 {
              width: 600px;
            }
            @include tabletAndAbove {
              width: 453px;
            }
            @include laptop {
              width: 543px;
            }
            @include largerLaptop {
              width: 643px;
            }
          }
        }
        ul {
          margin-bottom: 0 !important;
          padding-bottom: 30px;
          @include smallMobile {
            width: 300px;
          }
          @include smallTablet {
            width: 500px;
          }
          @include tablet_768 {
            width: 600px;
          }
          @include tabletAndAbove {
            width: auto;
          }
          @include laptop {
            padding-top: 30px;
            padding-bottom: 0;
          }
          li {
            padding-top: 20px;

            @include tabletAndAbove {
              padding-top: 10px;
            }
            @include laptop {
              padding-top: 20px;
            }

            span {
              display: flex; /* Flexbox for alignment */
              align-items: flex-start; /* Align image and text at the top */
              gap: 8px;
              // width: 500px;

              line-height: 30px;
              @include smallMobile {
                font-size: 16px;
              }
              @include tabletAndAbove {
                font-size: 16px;
              }
              @include laptop {
                font-size: 18px;
              }
              @include largerLaptop {
                font-size: 22px;
                line-height: 40px;
              }
              img {
                flex-shrink: 0;
              }
            }
          }
          a {
            position: relative;
            top: 20px;
            // left: 38px;
            button {
              outline: none;
              padding: 8px 20px;
              background-color: rgba(64, 70, 148, 1);
              color: rgba(255, 255, 255, 1);
            }
            // margin-top: 20px;
          }
        }
      }
      .effortless-check-in-div {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 70px 0 0;
        .effortless-check-in {
          background-color: rgba(27, 29, 62, 1);
          border-radius: 10px;
          display: flex;
          justify-content: center;

          @include tablet_768 {
            width: 100%;
          }
          // @include tabletAndAbove {
          //   width: auto;
          // }
          @include laptop {
            width: auto;
          }
          .effortless-check-in-content {
            display: flex;
            gap: 40px;
            padding: 40px;
            @include smallMobile {
              flex-direction: column;
              gap: 25px;
              width: 300px;
            }
            @include smallTablet {
              width: 500px;
            }
            @include tablet_768 {
              width: auto;
            }
            @include tabletAndAbove {
              flex-direction: row;
              gap: 40px;
            }
            .effortless-check-in-content-div {
              @include smallMobile {
                order: 2;
                text-align: center;
              }
              @include tablet_768 {
                text-align: left;
              }
              @include tabletAndAbove {
                order: 1;
              }
              h3 {
                color: rgba(255, 255, 255, 1);
              }
              p {
                font-size: 18px;
                line-height: 30px;
                width: 415px;
                color: rgba(196, 198, 222, 1);
                @include smallMobile {
                  font-size: 16px;
                  width: 100%;
                  // margin-bottom: 0 !important;
                }
                @include tablet_768 {
                  width: 415px;
                }
              }

              ul {
                li {
                  padding-bottom: 20px;
                  color: rgba(196, 198, 222, 1);
                  &:first-child {
                    padding-top: 20px;
                  }
                }
              }
              a {
                button {
                  padding: 10px 30px;
                  border-radius: 4px;
                  background-color: #ecedf4;
                  color: #232751;
                  outline: none;
                }
              }
            }
          }
          & .code-scannig-img {
            @include tabletAndAbove {
              // width: 419px;
              order: 1;
            }
          }
        }
      }
    }
  }
  & .fifth-section {
    background-color: #ffffff;
    width: 100%;

    h2 {
      text-align: center;
      margin-bottom: 60px;
      font-size: 40px;
      margin-top: 100px;
      @include smallMobile {
        font-size: 25px;
        margin-top: 50px;
        margin-bottom: 40px;
      }
      @include smallTablet {
        font-size: 30px;
      }
      @include tablet_768 {
        font-size: 40px;
      }
    }
    .swiper {
      // display: flex;
      width: 100% !important;
      height: 100% !important;
      overflow: hidden !important;
      .swiper-wrapper {
        display: flex !important; /* Ensure row layout by default */
        flex-direction: row !important;
        margin: 0 auto !important;
        @include tabletAndAbove {
          max-width: 970px !important;
        }
        @include laptop {
          max-width: 1150px !important;
        }
        @include largerLaptop {
          max-width: 1350px !important;
        }

        .swiper-slide {
          display: flex !important;

          align-items: center;
          @include smallMobile {
            justify-content: center !important;
          }
          @include tabletAndAbove {
            justify-content: flex-start !important;
          }
        }

        .card {
          background-color: #ffffff;
          border-radius: 8px;
          border: 1px solid black;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          padding: 30px;
          width: 520px;
          height: 300px;
          display: flex;
          // flex-direction: column;
          transition: background-color 0.3s ease, transform 0.3s ease;
          @include smallMobile {
            width: 300px;
            height: 385px;
          }
          @include tablet_768 {
            width: 600px;
            height: 300px;
          }
          @include tabletAndAbove {
            height: 350px;
            width: 520px;
          }
          @include laptop {
            height: 320px;
          }
          &:hover {
            background-color: #232751;
            transform: scale(1.05);

            .feedback-category,
            .testimonial,
            .client-name {
              color: #fff;
            }
          }

          .feedback-category {
            font-size: 20px;
            font-weight: bold;
            color: #444;
            margin-bottom: 10px;
            @include tabletAndAbove {
              font-size: 25px;
            }
            @include laptop {
              font-size: 23px;
            }
            @include largerLaptop {
              font-size: 28px;
            }
          }

          .testimonial {
            font-size: 16px;
            color: #666;
            margin-bottom: 20px;
            @include tabletAndAbove {
              font-size: 18px;
            }
            @include laptop {
              font-size: 16px;
            }
            @include largerLaptop {
              font-size: 17px;
            }
          }

          .rating {
            display: flex !important;
            margin-bottom: 15px !important;
            font-size: 20px;
            gap: 5px;
          }

          .client-info {
            display: flex;
            align-items: center;
            gap: 10px;

            img {
              width: 50px;
              height: 50px;
              border-radius: 50%;
              border: 2px solid #ddd;
            }

            .client-details {
              display: flex;
              flex-direction: column;
              text-align: left;

              .client-name {
                font-size: 16px;
                font-weight: bold;
                color: #444;
              }

              .client-role {
                font-size: 14px;
                color: #777;
              }
            }
          }
        }
      }
    }

    // .mySlides {
    //   display: none;
    // }

    // img {
    //   vertical-align: middle;
    // }

    // Slideshow container
    // .slideshow-container {
    //   max-width: 1000px;
    //   position: relative;
    //   margin: auto;

    //   // Number text (1/3 etc.)
    //   .numbertext {
    //     color: #f2f2f2;
    //     font-size: 12px;
    //     padding: 8px 12px;
    //     position: absolute;
    //     top: 0;
    //   }

    //   // Caption text
    //   .text {
    //     color: #f2f2f2;
    //     font-size: 15px;
    //     padding: 8px 12px;
    //     position: absolute;
    //     bottom: 8px;
    //     width: 100%;
    //     text-align: center;
    //   }

    //   // Next & previous buttons
    //   .prev,
    //   .next {
    //     cursor: pointer;
    //     position: absolute;
    //     top: 50%;
    //     width: auto;
    //     padding: 16px;
    //     margin-top: -22px;
    //     color: white;
    //     font-weight: bold;
    //     font-size: 18px;
    //     transition: 0.6s ease;
    //     border-radius: 0 3px 3px 0;
    //     user-select: none;

    //     &:hover {
    //       background-color: rgba(0, 0, 0, 0.8);
    //     }
    //   }

    //   .next {
    //     right: 0;
    //     border-radius: 3px 0 0 3px;
    //   }
    // }

    // The dots/bullets/indicators
    // .dot {
    //   cursor: pointer;
    //   height: 15px;
    //   width: 15px;
    //   margin: 0 2px;
    //   background-color: #bbb;
    //   border-radius: 50%;
    //   display: inline-block;
    //   transition: background-color 0.6s ease;

    //   &.active,
    //   &:hover {
    //     background-color: #717171;
    //   }
    // }

    // Fading animation
    // .fade {
    //   animation-name: fade;
    //   animation-duration: 1.5s;
    // }

    // @keyframes fade {
    //   from {
    //     opacity: 0.4;
    //   }
    //   to {
    //     opacity: 1;
    //   }
    // }

    // Media query for smaller screens
    // @media only screen and (max-width: 300px) {
    //   .prev,
    //   .next,
    //   .text {
    //     font-size: 11px;
    //   }
    // }
  }
}
.footer {
  // margin-top: 1000px !important;
  width: 100% !important;
  max-width: 100%;
  margin: 0px 0 83% !important;
  transition: transform 2s ease-in, opacity 2s ease-in !important;
  transform: translate3d(
    100%,
    0,
    0
  ) !important; /* Initial state (off-screen) */
  opacity: 0 !important;
  &.scrolled {
    transform: translate3d(0, 0, 0) !important; /* Final state (in view) */
    opacity: 1 !important;
  }

  @include smallMobile {
    margin: 0px 0 200px !important;
  }
  @include smallTablet {
    margin: 0px 0 605px !important;
  }
  // @include tablet_768 {
  //   min-height: 1200px;
  // }
  @include tablet_768 {
    margin: 0px 0 805px !important;
  }
  @include laptop {
    margin: 0px 0 1005px !important;
  }
  // @include largerLaptop {
  //   margin: 0px 0 1010px!important;
  // }

  .footers {
    width: 100% !important;

    padding: 48px 0;
    background-color: rgba(27, 29, 62, 1) !important;
    position: relative;

    @include smallMobile {
      top: 200px;
    }
    @include smallTablet {
      top: 600px;
    }
    @include tablet_768 {
      top: 800px;
    }
    @include tabletAndAbove {
      top: 800px;
    }
    @include laptop {
      top: 1000px;
    }
    @include largerLaptop {
      top: 1000px;
    }
    // margin-bottom: 40px;
    .footer-content {
      width: 100% !important;
      max-width: 1150px !important;
      // margin: 0px auto;
      position: relative !important;
      left: 50%;
      transform: translate(-50%);
      // padding: 0 80px;
      @include smallMobile {
        // padding: 0 50px;
        // max-width:  850px !important;
      }
      @include largeMobile {
        // padding: 0 80px;
      }
      @include tablet_768 {
        padding: 0 20px; /* Adjust padding for tablet screens and above */
      }

      @include tablet_900 {
        padding: 0;
        max-width: 850px !important;
      }
      @include tabletAndAbove {
        max-width: 970px !important;
        // padding: 0 17px;
      }
      @include laptop {
        max-width: 1150px !important;
        // padding: 0 16px; /* Narrower padding for laptops and larger screens */
      }
      @include largerLaptop {
        max-width: 1350px !important;
        // padding: 0 17px;
      }
    }

    .footer-header {
      display: flex;
      justify-content: space-between;

      @include smallMobile {
        flex-direction: column;
      }
      @include tablet_768 {
        flex-direction: row;
      }

      .footer-logo-image {
        width: 100%;
        max-width: 100px;
        display: flex;
        align-items: center;
      }

      .socials {
        display: flex;
        // gap: 16px;
        align-items: center;
        justify-content: center;
        @include smallMobile {
          justify-content: center;
          margin-top: 20px;
        }
        @include tablet_768 {
          position: relative;
          left: 12px;
        }
        & img {
          display: inline-block;
          border-radius: 50%;
          background-color: transparent;
          transition: background-color 0.3s ease, transform 0.3s ease;
          padding: 5px;
          &:hover {
            background-color: rgba(255, 255, 255, 0.744);
            transform: scale(1.1);
          }
        }
      }
    }

    .footer-line {
      padding-top: 30px;

      @include smallMobile {
        padding-top: 20px;
      }
      @include tablet_768 {
        padding-top: 30px;
      }
    }

    .footer-bottom {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      padding-top: 40px;
      color: rgba(203, 204, 208, 1);
      @include smallMobile {
        padding-top: 20px;
      }
      @include tablet_768 {
        flex-wrap: nowrap;
        padding-top: 40px;
      }

      p {
        text-align: left;
        margin: 0;

        @include smallMobile {
          width: 100%;
          max-width: 200px;
          text-align: center;
          margin: 0 auto;
          margin-bottom: 10px;
        }
        @include tablet_768 {
          text-align: left;
          margin: 0;
          width: 100%;
          max-width: 500px;
        }
      }

      .footer-bottom-socials {
        display: flex;
        gap: 16px;

        @include smallMobile {
          justify-content: center;
          width: 100%;

          text-wrap: nowrap;
        }
        @include tablet_768 {
          width: auto;
        }
        span {
          position: relative;
          cursor: pointer;

          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0;
            background-color: rgba(203, 204, 208, 1);
            transition: height 0.3s linear;
          }

          &:hover::after {
            height: 1px;
          }
        }
      }
    }
  }
}
